//
// Application
// ---------------------------

.app {
    min-height: 100%;
    background-position: center center;
    font-size: 1em;
}

@include mobile {
    .app {
    }
}

@include largeMobile {
    .app {
    }
}

@include tablet {
    .app {
    }
}

@include desktop {
    .app {
    }
}

@include largeDesktop {
    .app {
    }
}
